p{
    font-family: "Trirong", serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: "Trirong", serif;
    font-weight: 1000;
    font-style: normal;
}

h3{
    font-family: "Trirong", serif;
    font-weight: 500;
    font-style: normal;
}

h5{
    font-family: "Trirong", serif;
    font-weight: 500;
    font-style: normal;
}